{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}{% endblock %}
</head>
{% endblock %}

<!-- Provided by 'templates/base.twig' -->
<body class="{{body_class}}" data-template="base.twig">
<header class="header">
  {% block header %}
    {% include 'header--default.twig' %}
  {% endblock %}
</header>

<section id="content" class="content" role="main">
  <div class="container">
    {% if title %}
      <h1>{{title}}</h1>
    {% endif %}
    <div class="wrapper {{sidebar_class}}">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </div>
    {% if sidebar %}
      <aside class="layout-sidebar">
        {{sidebar}}
      </aside>
    {% endif %}
  </div>
</section>

{% block footer %}
  <footer id="footer" class="footer">
    {% include 'footer.twig' %}
  </footer>
  {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
